body {
    margin: 0;
    background-color: white;
    overflow-x: hidden;
}

code {
    white-space: pre;
}

h1 {
    margin-top: 0px;
    padding-top: 20px;
}

textarea {
    height: 90vh;
    width: 80%;
}

.main {
    padding: 10px 10px 10px 30px;
}

.search {
    width: 100%;
    font-size: 15px;
    line-height: 15px;
    padding: 3px;
    text-align: center;
}

.sidebar {
    background-color: #424549;
    height: 100vh;
    padding: 30px;
    text-align: center;
}

.navButton {
    margin-top: 20px;
    border: 2px white solid;
    color: white;
    padding: 3px;
}

.searchForm {
    margin-top: 20px;
    color: white;
}

#title {
    color: white;
    margin-top: 5px;
}

.navButton:hover {
    background-color: white;
    color: #424549;
    cursor: pointer;
}

#titleInput {
    display: inline-block;
    margin: 20px 20px 20px 40px;
    width: 80%;
    border: 2px #424549 solid;
    font-size: 23px;
    padding: 10px;
}

#textArea {
    height: 50vh;
    margin-left: 40px;
    width: 80%;
    border: 2px #424549 solid;
    padding: 10px;
}

#submitButton {
    width: 80%;
    margin: 20px 20px 20px 40px;
    border: 2px #424549 solid;
    color: #424549;
    background-color: white;
    font-size: 23px;
    padding: 10px;

}

#submitButton:hover {
    border: 2px #424549 solid;
    color: white;
    background-color: #424549;
}

#redAlert{
    margin: 20px 20px 0px 40px;
    width: 80%;
}

hr{
    margin-right: 30px;
    border-top: #424549 solid 1px;
}