body {
    margin: 0;
    background-color: white;
}

code {
    white-space: pre;
}

h1 {
    margin-top: 0px;
    padding-top: 20px;
}

textarea {
    height: 90vh;
    width: 80%;
}

.main {
    padding: 10px 10px 10px 30px;
}

.search {
    width: 100%;
    font-size: 15px;
    line-height: 15px;
    padding: 3px;
    text-align: center;
}

.sidebar {
    background-color: #424549;
    height: 100vh;
    padding: 30px;
    text-align: center;
}

.navButton {
    margin-top: 20px;
    border: 2px white solid;
    color: white;
    padding: 3px;
}

.searchForm {
    margin-top: 20px;
    color: white;
}

#title {
    color: white;
    margin-top: 5px;
}

.navButton:hover {
    background-color: blue;
    color: #424549;
    cursor: pointer;
}
