{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1>Save New Entry</h1>
    {% if message %}
        <div id="redAlert" class="alert alert-danger">{{ message }}</div>
    {% endif %}

    <form action="{% url 'saveEntry' %} " method="POST">
        {% csrf_token %}
        <input placeholder="Title of the page"
                {% if title %}
               value="{{ title }}"
                {% endif %}
               id="titleInput" type="text" name="title"> <br>
        <textarea placeholder="Write page content in markdown" id="textArea" name="content">
            {% if content %}
                {{ content }}"
            {% endif %}
        </textarea>
        <br>
        <input id="submitButton" type="submit">
    </form>

{% endblock %}